# Специальное свойство должно быть указано в начале файла вне любых секций.
# Установите в значение true, чтобы остановить поиск файла .editorconfig на текущем файле
root = true

[*]

# Стиль отступа
# Возможные значения - tab, space
indent_style = space

# Размер отступа в одном пробеле
# Возможные значения - целое число, tab
indent_size = 2

# Формат разделителя строк
# Возможные значения - lf, crlf, cr
end_of_line = lf

# Кодировка файла
# Возможные значения - latin1, utf-8, utf-16be, utf-16le
charset = utf-8

# Указывает, следует ли обрезать пробелы в конце строк
# Возможные значения - true, false
trim_trailing_whitespace = true

# Указывает, должен ли файл заканчиваться переводом строки
# Возможные значения - true, false
insert_final_newline = true
