.card {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 30px;

    width: 100%;
    max-width: 400px;
    height: 600px;

    border-radius: 30px;

    color: var(--clr1);
    font-size: 1em;

    background-color: var(--clr6);
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
}

.avatar {
    position: relative;
    
    width: 300px;
    height: 300px;

    border-radius: 50%;
    overflow: hidden;

    background-color: var(--clr2);
}

.img {
    object-fit: cover;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;

    text-align: center;
}

.fullName {
    font-size: 1.5em;
    font-weight: 500;
}

.professions {
    font-size: 1.125em;
}

.experience {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
    width: 100%;

    text-align: center;
}

.line {
    height: 2px;
    width: 105%;

    background-color: var(--clr4);
}

.experience_number {
    font-size: 2em;
    font-weight: 500;
}
