.footer {
  display: flex;
  flex-direction: column;

  gap: 60px;

  padding: 30px;
  margin-top: 150px;

  border-top: 1px solid var(--clr4);

  color: var(--clr1);
}

.info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  gap: 5px;
}

.inEn {
  display: flex;
  flex-direction: column;

  gap: 5px;

  font-size: 0.875em;
}

.documents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 10px;
}

.svg {
  width: 50px;
  height: 50px;
  fill: var(--clr7);
}

.copyright {
  color: var(--clr7);
}

@media (max-width: 768px) {
  .footer {
    margin-top: 60px;
  }
}

@media (max-width: 730px) {
  .footer {
    gap: 30px;
  }

  .info {
    flex-direction: column;
    gap: 30px;
  }
}
