.wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;
}

.title {
  padding: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 2em;
  line-height: 130%;
  color: var(--clr1);
  background-color: var(--clr6);
  border-radius: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-inline: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subtitle {
  font-size: 1.5rem;
  line-height: 1.083;
  font-weight: 500;
  color: var(--clr1);
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text {
  font-size: 1.125rem;
  line-height: 1.278;
  font-weight: 400;
}

@media (max-width: 768px) {
  .wrapper {
    gap: 30px;
  }
  .content {
    gap: 30px;
    padding: inherit;
  }
  .item {
    gap: 15px;
  }
}

@media (max-width: 425px) {
  .title {
    font-size: 1.5rem;
  }
  .subtitle {
    font-size: 1.25rem;
  }
  .text {
    font-size: 1rem;
  }
}
