.text {
    width: 100%;
    margin-top: 130px;

    font-size: 2.5em;
    line-height: 130%;
    text-align: left;
    color: var(--clr7);
}

.colored {
    color: var(--clr1);
    font-weight: 500;
}

.moved {
    text-align: right;
}

@media (max-width: 1210px) {
    .moved {
        text-align: left;
    }
}