.content {
  display: flex;
  flex-direction: column;

  gap: 20px;

  width: 100%;
}

.title {
  padding: 30px;

  text-align: center;
  font-weight: 500;
  font-size: 2em;
  line-height: 130%;

  color: var(--clr1);
  background-color: var(--clr6);

  border-radius: 30px;
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-inline: 20px;
}

.services {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.info {
  padding: 30px;
}

.info p:first-child {
  margin-top: 0;
}

.info p {
  margin-top: 1.11em;
}

.info i {
  font-weight: 600;
}

.info ul {
  margin-top: 0.5em;
  list-style-type: disc;
  padding-left: 1em;
}

.info ul li::marker {
  font-size: 0.75em;
  color: var(--clr4);
}

.info ul li:first-child {
  margin-top: 0;
}

.info ul .cols {
  display: flex;
}

.info ul li {
  margin-top: 0.5em;
}

.description {
  font-size: 1.125em;
  line-height: 1.3em;
}

.notes {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}

.notes p {
  margin-top: 0;
}

.note {
  text-align: center;
  background-color: var(--clr9);
  padding: 10px 20px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .info p {
    margin-top: 10px;
  }

  .content {
    gap: 30px;
  }

  .title {
    font-size: 1.5em;
  }

  .textBlock {
    gap: 10px;
    padding-inline: 0;
  }

  .services {
    gap: 10px;
  }

  .info {
    padding: 20px 20px 30px 20px;
  }
}
