.hero {
    position: relative;

    display: flex;
    align-items: center;
    margin-top: 140px;
    height: 500px;
    width: 100%;

    border-radius: 30px;
}

.img {
    border-radius: 30px;
    aspect-ratio: 14/5;
    object-fit: cover;
}

.blackout {
    position: absolute;

    width: 100%;
    height: 100%;

    border-radius: 30px;

    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    z-index: 1;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;

    padding: 40px;

    z-index: 2;
}

.text {
    display: flex;

    flex-direction: column;
    align-items: center;
    text-align: center;

    max-width: 300px;

    color: var(--clr2);
}

.discount {
    font-size: 4em;
    font-weight: bold;
}

.term {
    font-size: 1.125em;
}

@media (orientation: portrait) {
    .hero {
        align-items: flex-end;
        justify-content: center;
        margin-top: 100px;
    }
}

@media (max-width: 430px) {
    .hero {
        margin-top: 80px;
    }
}