.slider {
  width: 100%;
  margin-top: 60px;
}

.swiper_slide {
  width: auto !important;
}

.linkCard {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 400px;
  height: 600px;

  border-radius: 30px;
  text-decoration: none;
  background-color: var(--clr6);
}

@media (max-width: 768px) {
    .slider {
        margin-top: 30px;
    }
}

@media (max-width: 450px) {
    .linkCard {
        width: 340px;
        height: 550px;
    }
}
