.burgerMenu {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 8px;

  width: 35px;

  cursor: pointer;

  transition: transform 0.3s;
}

.line {
  width: 100%;
  height: 3px;

  flex-grow: 0;

  border-radius: 30px;
  background-color: var(--clr5);
}

.burgerMenu:hover {
  transform: scaleY(1.1);
}

.burgerMenu:active {
  transform: scaleY(0.9);
}

.wrapper {
  position: fixed;
  left: 0;

  height: 200vh;
  width: 100%;
  max-width: 400px;

  background-color: var(--clr2);

  transform: translateX(-100%);

  transition: transform 0.3s;
}

.wrapper.open {
  transform: translateX(0);
}

.blackout {
  position: absolute;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);
}
