@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr1: #12305c;
  --clr2: white;
  --clr3: #dbe4f0;
  --clr4: rgba(18, 48, 92, 0.2);
  --clr5: black;
  --clr6: #f3f5fb;
  --clr7: #7d8fa9;
  --clr8: rgba(18, 50, 95, 0.4);
  --clr9: #e8ebf4;
  --clr10: rgba(234, 79, 68, 0.2);
  --clr11: #ea4f44;
  --clr12: #ffe2dd;
  --clr13: rgba(255, 226, 221, 0.2);
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('./fonts/Montserrat-VariableFont.woff2') format('woff2');
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: 'Montserrat', sans-serif, Arial;
  font-size: 16px;
}

/* Typography */
a {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--clr4);
  text-underline-offset: 0.4em;
}

ul {
  list-style: none;
}

.container {
  width: min(1400px, 100%);
  margin-inline: auto;
  padding-inline: 20px;
}

.swiper-wrapper .swiper-slide:first-child {
  padding-left: 20px;
}

.swiper-wrapper .swiper-slide:last-child {
  padding-right: 20px;
}

@media (max-width: 1030px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-inline: 10px;
  }
}
