@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --clr1: #12305C;
    --clr2: white;
}

body {
    font-size: 16px;

    padding-inline: 20px;
}

@media screen and (max-width: 1030px) {
    body {
        font-size: 14px;
    }
}