.address {
    display: flex;
    align-items: center;
    gap: 20px;
}

.info {
    display: flex;
    align-items: center;
    gap: 50px;
}

.text {
    color: var(--clr1);
    font-size: 0.875rem;
}

.phone {
    display: flex;
    align-items: center;
    gap: 6px;

    padding: 10px 20px;

    background-color: var(--clr1);
    color: var(--clr2);
    border-radius: 30px;

    transition: background-color 0.5s, color 0.5s, transform 0.5s;
}

.phone:hover {
    background-color: var(--clr3);
    color: var(--clr1);
    transform: scale(1.05);
}

.phone:active {
    transform: scale(0.95);
}

@media screen and (max-width: 1230px) {
    .info {
        gap: 20px;
    }

    .address {
        gap: 10px;
    }
}