.accordion {
  margin-top: 60px;

  display: flex;
  flex-direction: column;

  gap: 20px;

  color: var(--clr1);
}

@media (max-width: 768px) {
  .accordion {
    margin-top: 30px;

    gap: 10px;
  }

  .service {
    gap: 20px;

    padding-inline: 20px;
  }

  .sub_service {
    padding-left: 30px;
  }
}
