.button {
    padding: 10px 20px;

    display: flex;
    align-items: center;

    gap: 5px;

    color: var(--clr2);
    background-color: var(--clr1);

    border-radius: 30px;

    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.button:hover {
    color: var(--clr1);
    background-color: var(--clr3);

    transform: scale(1.05);
}

.button:active {
    transform: scale(0.99);
}

.svg {
    fill: var(--clr2);

    transition: fill 0.3s;
}

.button:hover .svg {
    fill: var(--clr1);
}