.text {
    width: 100%;
    margin-top: 150px;

    font-size: 2.5em;
    line-height: 130%;
    text-align: left;
    color: var(--clr7);
}

.colored {
    color: var(--clr1);
    font-weight: 500;
}

.moved {
    text-align: right;
}

@media (max-width: 1210px) {
    .moved {
        text-align: left;
    }
}

@media (max-width: 1100px) {
    .text {
        font-size: 2em;
    }
}

@media (max-width: 780px) {
    .text {
        font-size: 1.75em;
        margin-top: 60px;
    }
}