.title {
    margin-inline: auto;
    width: 100%;
    max-width: min(1000px, 100%);
    padding: 30px;
    text-align: center;
    font-weight: 500;
    font-size: 2em;
    line-height: 130%;
    color: var(--clr1);
    background-color: var(--clr6);
    border-radius: 30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.license {
    margin-inline: auto;
    aspect-ratio: 75/106;
}