.grid {
    display: grid;
    grid-template-columns: 36fr 36fr 24fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;

    width: 100%;
    height: auto;
}

.block{
    width: 100%;
    height: 250px;
}

.gridCard {
    grid-row: span 2;
    width: 100%;
    height: 520px;
}

@media (max-width: 1280px) {
    .grid {
        grid-template-columns: 36fr 36fr;
        grid-template-rows: auto;
    }

    .gridCard {
        grid-row: span 1;
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 36fr;
    }

}