.grid {
    display: grid;
    grid-template-columns: 36fr 36fr 24fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.block1{
    background-color: red;
    width: 100%;
    height: 240px;
}

.gridCard {
    grid-row: span 2;
    height: 500px;
}

@media screen and (max-width: 1000px) {
    .grid {
        grid-template-columns: 36fr 36fr;
    }

    .gridCard {
        grid-row: span 1;
    }
}

@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 36fr;
    }

}